Generate XSD 2/mobile.xsd

<?xml version="1.0" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
<xsd:element name="mobilestore">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="1" name="mobile" type="type"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="type">
<xsd:sequence>
<xsd:element name="brand" type="xsd:string"/>
<xsd:element name="os" type="xsd:string"/>
<xsd:element name="model" type="xsd:string"/>
<xsd:element name="ram" type="xsd:string"/>
<xsd:element name="internal" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>